body {
  display: flex;
  flex-direction: column;
  background-image: url("globe.jpg");
  background-repeat: repeat;
  height: auto;
}

 div:focus {
    outline: none;
 }

.countryListContainer {
  margin-right: 75px;
  margin-left: 75px;
}

.statsListContainer {
  margin-top: 50px;
  margin-right: 150px;
  margin-left: 150px;
}


/*Google Maps*/

a {
  text-decoration: none;
}

#form-control {
  box-shadow: 3px 3px 10px gray;
  padding: 5px;
  border: 5px solid black;
  border-radius: 10px;
}

#map {
  height: 600px;
  width: 100%;
}

#repeat {
  display: inline;
}

#country_container {
  width: 1000px;
  margin: 13px 3px 3px 0px;
  text-align: center;
  width: 85px;
  padding: 4px;
  display: inline-table;
  color: white;
  background-color: black;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 13px;
}

#country_container:hover {
  box-shadow: 0px 0px 10px black;
  background-color: gray;
  border: 1px solid gray;
  cursor: pointer;
}

#names {
  cursor: pointer;
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
  color: white; }
  
md-select-value span {
  color: white;
}

md-select {
  box-shadow: 0;
  border-style: none;
}

md-toolbar div {
  color: white;
}


h1 {
  margin-top: 200px;
  color: #1A237E;
  font-weight: bold;
  text-shadow: 4px 4px white;
}

md-list {
  background-color: white;
  width: 100%;
}