<nav>
	<md-toolbar layout="row" flex="100" layout-align="start center" class="navBar">
			<md-input-container>
				<label>Choose Region</label>
				<md-select ng-model="selectedRegion" class="layout-align-start-center navBar" ng-change="onChange(selectedRegion)">
					<md-option ng-value="region" ng-repeat="region in regions"  >
						{{region}}
					</md-option>
				</md-select>
			</md-input-container>
		<div ui-sref="stats" flex="15" style="text-align: center">
			<i flex="15" class="material-icons">assessment</i>
			Travel Stats
		</div>
		<div ui-sref="map" flex="10" style="text-align: center">
			<i flex="15" class="material-icons">place</i>
			Map
		</div>
		<div ui-sref="home" flex="10" style="text-align: center">
			<i flex="15" class="material-icons">home</i>
			Home
		</div>	
	</md-toolbar>
	
</nav>